@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 10% 95.5%; /* very light desaturated blue */
    --foreground: 224 71.4% 4.1%;

    --card: 204 10% 98%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 204 10% 98%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 217 91% 76%; /* light cool blue */
    --primary-foreground: 224 71.4% 4.1%;

    --secondary: 217.2 32.6% 90.5%;
    --secondary-foreground: 224 71.4% 4.1%;

    --muted: 217.2 32.6% 90.5%;
    --muted-foreground: 215 20.2% 45.1%;

    --accent: 276 60% 81%; /* pale purple */
    --accent-foreground: 224 71.4% 4.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 83.5%;
    --input: 217.2 32.6% 83.5%;
    --ring: 217 91% 76%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 204 10% 95.5%; /* very light desaturated blue */
    --foreground: 224 71.4% 4.1%;

    --card: 204 10% 98%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 204 10% 98%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 217 91% 76%; /* light cool blue */
    --primary-foreground: 224 71.4% 4.1%;

    --secondary: 217.2 32.6% 90.5%;
    --secondary-foreground: 224 71.4% 4.1%;

    --muted: 217.2 32.6% 90.5%;
    --muted-foreground: 215 20.2% 45.1%;

    --accent: 276 60% 81%; /* pale purple */
    --accent-foreground: 224 71.4% 4.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 83.5%;
    --input: 217.2 32.6% 83.5%;
    --ring: 217 91% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
